### 1.Load data files(train_u6lujuX_CVtuZ9i.csv and test_Y3wMUE5_7gLdaTN.csv)

In [280]:
import pandas as pd
import numpy as np

In [281]:
train_data = pd.read_csv('train_u6lujuX_CVtuZ9i.csv')
test_data = pd.read_csv('test_Y3wMUE5_7gLdaTN.csv')

In [282]:
train_data.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [283]:
test_data.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object

### 2.Types of data columns

### DATA CLEANING AND PREPROCESSING

### 3.Find missing values

In [284]:
train_data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [285]:
test_data.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [286]:
train_data.shape

(614, 13)

In [287]:
test_data.shape

(367, 12)

In [288]:
train_data.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [289]:
test_data.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [290]:
train_data['Property_Area'].value_counts()

Semiurban    233
Urban        202
Rural        179
Name: Property_Area, dtype: int64

In [291]:
test_data['Property_Area'].value_counts()

Urban        140
Semiurban    116
Rural        111
Name: Property_Area, dtype: int64

### 4.Impute missing values with mean (numerical variables)

In [292]:
Xn = train_data.values[:, 6:11]

In [293]:
from sklearn.impute import SimpleImputer # used for handling missing data

In [294]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [295]:
imputer = imputer.fit(Xn)
Xn = imputer.transform(Xn)

### 5.Impute missing values with mode (categorical variables)

In [296]:
Xc = train_data.drop(['Loan_Status'], axis=1).values
Xc = np.delete(Xc, np.s_[6:11], axis=1)

In [297]:
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputerc = imputer.fit(Xc)
Xc = imputer.transform(Xc)
Xc.shape

(614, 7)

In [298]:
columns = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']
train_data.iloc[:,6:11] = pd.DataFrame(Xn, columns= columns)
cols_cat= ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education','Self_Employed']
train_data.iloc[:,:6]=pd.DataFrame(Xc[:, :6], columns=cols_cat )
train_data.iloc[:,-2]=pd.DataFrame(Xc[:, -2], columns=['Property_Area'])
train_data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,146.412162,360.0,1.0,No,Y
1,LP001003,Male,Yes,1,Graduate,No,4583.0,1508.0,128.000000,360.0,1.0,No,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.000000,360.0,1.0,Yes,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.000000,360.0,1.0,No,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.000000,360.0,1.0,No,Y

In [299]:
train_data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

### PREDICTIVE MODELLING

### 6.Remove Loan_ID variable - Irrelevant

In [300]:
train_data.drop(['Loan_ID'], inplace=True, axis=1)

### 7.Create target variable

In [301]:
train_data = pd.get_dummies(train_data, drop_first=True)

In [302]:
train_y = train_data.iloc[:,-1]

In [303]:
X_tr = train_data.drop(['Loan_Status_Y'], axis=1)

### 8.Build dummy variables for categorical variables

### 9.Split train data for cross validation

### (a)LOGISTIC REGRESSION ALGORITHM

### 10.Fit model

In [304]:

# Split the X and Y dataset into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = \
train_test_split(X_tr, train_y, test_size = 0.3, random_state = 1234, stratify=train_y)

### 11.Predict values

In [305]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=10000)
lr.fit(X_train, Y_train)
y_pred = lr.predict(X_test)

### 12.Print classification report

In [306]:
from sklearn import metrics

print("Classification Report for Decision Tree:""\n",metrics.classification_report(Y_test, y_pred))

Classification Report for Decision Tree:
               precision    recall  f1-score   support

           0       0.83      0.33      0.47        58
           1       0.76      0.97      0.85       127

    accuracy                           0.77       185
   macro avg       0.79      0.65      0.66       185
weighted avg       0.78      0.77      0.73       185

### 13.Evaluate accuracy of model

In [307]:

print("Accuracy:",metrics.accuracy_score(Y_test, y_pred))

Accuracy: 0.7675675675675676

### (b)DECISION TREE ALGORITHM

### 14.Fit model

In [308]:
# Import and train classifier
# Create Decision Tree classifer object
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
clf = DecisionTreeClassifier()
# Train Decision Tree Classifer
clf = clf.fit(X_train,Y_train)

### 15.Predict values

In [309]:
#Predict the response for test dataset
y_pred = clf.predict(X_test)

### 16.Evaluate accuracy of model

In [310]:
from sklearn import metrics

print("Classification Report for Decision Tree:""\n",metrics.classification_report(Y_test, y_pred))
print("Accuracy:",metrics.accuracy_score(Y_test, y_pred))

Classification Report for Decision Tree:
               precision    recall  f1-score   support

           0       0.50      0.38      0.43        58
           1       0.74      0.83      0.78       127

    accuracy                           0.69       185
   macro avg       0.62      0.60      0.61       185
weighted avg       0.67      0.69      0.67       185

Accuracy: 0.6864864864864865

### (c)SUPPORT VECTOR MACHINE (SVM) ALGORITHM

### 17.Fit model

In [ ]:

#Import svm model
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf.fit(X_train, Y_train)

### 18.Predict values

In [ ]:
#Predict the response for test dataset
y_pred = clf.predict(X_test)

### 19.Evaluate accuracy of model

In [ ]:
from sklearn import metrics

print("Classification Report for Decision Tree:""\n",metrics.classification_report(Y_test, y_pred))
print("Accuracy:",metrics.accuracy_score(Y_test, y_pred))

### (d)NAIVE BAYES ALGORITHM

### 20.Fit model

In [ ]:
from sklearn.naive_bayes import GaussianNB
NBmodel = GaussianNB()
NBmodel.fit(X_train, Y_train)

### 21.Predict values

In [ ]:
predicted = NBmodel.predict(X_test)

### 22.Evaluate accuracy of model

In [ ]:
from sklearn import metrics

print("Classification Report for Decision Tree:""\n",metrics.classification_report(Y_test, y_pred))
print("Accuracy:",metrics.accuracy_score(Y_test, y_pred))

In [ ]:
#Select best model in order of accuracy
#Naive Bayes - 0.73
#Logistic Regression - 0.77
#Decision Tree - 0.70
#Support Vector Machine -  0.73

In [ ]:
test_data.isnull().sum()

In [ ]:
test_data.dtypes

In [ ]:
Xn_test = test_data.values[:, 6:11]
from sklearn.impute import SimpleImputer # used for handling missing data
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer = imputer.fit(Xn_test)
Xn_test = imputer.transform(Xn_test)

In [ ]:
Xc_test = test_data.values
Xc_test = np.delete(Xc_test, np.s_[6:11], axis=1) 
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputerc = imputer.fit(Xc_test)
Xc_test = imputer.transform(Xc_test)

In [ ]:
columns = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History']
test_data.iloc[:,6:11] = pd.DataFrame(Xn_test, columns= columns)
cols_cat= ['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education','Self_Employed']
test_data.iloc[:,:6]=pd.DataFrame(Xc_test[:, :6], columns=cols_cat )
test_data.iloc[:,-1]=pd.DataFrame(Xc_test[:, -1], columns=['Property_Area'])

In [ ]:
test_data.drop(['Loan_ID'], inplace=True, axis=1)

In [ ]:
test_data = pd.get_dummies(test_data, drop_first=True)

In [ ]:
train_data.columns

In [278]:
test_data.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [ ]:
train_y = train_data.iloc[:,-1]
X_tr = train_data.drop(['Loan_Status_Y'], axis=1)
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = \
train_test_split(X_tr, train_y, test_size = 0.3, random_state = 1234, stratify=train_y)

#from sklearn.linear_model import LogisticRegression
#lr = LogisticRegression(max_iter=10000)
#lr.fit(X_train, Y_train)
#y_pred = lr.predict(test_data)