### Predict the marks obtained based on the Number of hours studied and the number of hours slept

### 1.Import Pandas for data processing

In [1]:
import pandas as pd

### 2.Read the CSV file

In [5]:
df= pd.read_csv('02Students.csv')
df.shape
df

    Hours  sHours  Marks
0       0       6     34
1       1       7     36
2       1       6     33
3       1       8     39
4       1       8     42
5       2       8     45
6       2       6     38
7       3       6     45
8       3       7     53
9       3       7     46
10      3       8     56
11      4       8     59
12      4       7     55
13      4       7     56
14      5       8     72
15      5       6     59
16      6       6     62
17      6       7     71
18      7       8     78
19      7       8     88
20      7       6     61
21      7       6     74
22      8       7     71
23      8       8     89
24      9       8     82
25      9       5     67
26      9       8     89
27     10       8     81
28     10       8     82
29     11       7     79

### 3.Split into X (Independent) and Y (predicted)

In [10]:
#view X
X=df[['Hours', 'sHours']]
X

    Hours  sHours
0       0       6
1       1       7
2       1       6
3       1       8
4       1       8
5       2       8
6       2       6
7       3       6
8       3       7
9       3       7
10      3       8
11      4       8
12      4       7
13      4       7
14      5       8
15      5       6
16      6       6
17      6       7
18      7       8
19      7       8
20      7       6
21      7       6
22      8       7
23      8       8
24      9       8
25      9       5
26      9       8
27     10       8
28     10       8
29     11       7

In [9]:
#view Y
y=df['Marks']
y

0     34
1     36
2     33
3     39
4     42
5     45
6     38
7     45
8     53
9     46
10    56
11    59
12    55
13    56
14    72
15    59
16    62
17    71
18    78
19    88
20    61
21    74
22    71
23    89
24    82
25    67
26    89
27    81
28    82
29    79
Name: Marks, dtype: int64

### 4.Split train and test data with 30% test size

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=8)

### 5.Train the Multiple Linear Regression

In [13]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

### 6.Provide the training Data

In [14]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### 7.Predict the results

In [15]:
predicted_y = model.predict(X_test)
predicted_y

array([72.82372432, 29.75016567, 45.59111995, 75.61100066, 56.15175613,
       43.92909211, 92.28296885, 39.47978794, 76.44201458])

### 8.Get the R-Squared

In [16]:
r_sq = model.score(X_train, y_train)
print('coefficient of determination:', r_sq)

coefficient of determination: 0.8911683677625324

### 9.Coefficient and Intercept

In [17]:
print('intercept:', model.intercept_)
print('slope:', model.coef_)

intercept: 3.0543406229290966
slope: [5.28031809 4.44930417]

In [ ]:
#view mlr_coefficient

In [ ]:
#view mlr_intercept

### 10.Calculate the errors using RMSE

In [18]:
from sklearn import metrics
import numpy as np
print('MAE:', metrics.mean_absolute_error(y_test, predicted_y))
print('MSE:', metrics.mean_squared_error(y_test, predicted_y))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predicted_y)))

MAE: 4.448420587585596
MSE: 32.00324391915202
RMSE: 5.657140966880004